<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- To clear all inherited sources from higher-level config files -->
    <clear />
    
    <!-- This is our "Private Craft" folder. It is relative to this file. -->
    <add key="local-packages" value="./local-packages" />
    
    <!-- We still need the public internet for things like MSTest -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
